{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="row justify-content-end">
        <div class="col-5 jumbotron">
            <h1>Login please</h1>
            {{ form_start(form) }}
            {{ form_row(form.username, {'attr': {'class': 'form-group'}}) }}
            {{ form_row(form.password, {'attr': {'class': 'form-group'}}) }}
            {{ form_widget(form.login, {'attr': {'class': 'btn btn-outline-info'}}) }}
            {{ form_end(form) }}
            {{ errorMessage }}
        </div>

    </div>
{% endblock %}
