{% extends 'base.html.twig' %}

{% block title %}Signup{% endblock %}

{% block body %}
    <h1>Create new User</h1>
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    {{ form_end(form) }}
    <div class="alert alert-danger">{{ errorMessage }}</div>
{% endblock %}
